.galImage {
    background-color: #203050;
    border-radius: 15px 35px;
    padding: 8px;
    margin: 24px;
    color: white;
    text-align: center;
    min-height: 120px;
    position: relative;
    width: 410px;
    height: 320px;
}

.galImage img {
    border-radius: 35px;
    max-width: 100%;
    min-width: 100%;
}
