/* Fuentes */
@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CaviarDreams;
    src: url('../fonts/CaviarDreams.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: CaviarDreams, Arial, sans-serif;
    font-size: 24px;
    margin: 24px;
}

#mainHeader {

    text-align: center;
    padding: 12px;
    margin: 0;
    background-color: #06AFCE;
    display: block;
    box-sizing: border-box;
    border: #1786FF;
    position: relative;
}

#mainTitle {

    font-size: 84px;
    font-family: Comfortaa, Helvetica, Arial, serif;
    color: white;
    margin: 0;
    max-height: 100px;
}

#mainTitle, #mainTitle p  {

    display: inline;
}

#mainTitle #mTC {

    font-size: 84px;
    font-family: Comfortaa, Helvetica, Arial, serif;
    color: #BE0032;
}

#mainTitle #mTD {

    font-size: 84px;
    font-family: Comfortaa, Helvetica, Arial, serif;
    color: #FF003F;
}

#logo {
    float: left;
    margin: 2px 1px 12px;
    padding: 0;
    height: 82px;
    width: 82px;
}

#headerMenu {
    background-color: black;
    margin: 0;
    color: white;
    list-style-type: none;
    font-family: CaviarDreams, Helvetica, Arial, serif;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0 -5px 0 0 #1786FF;
    padding: 0;
    height: 96px;
}

#headerMenu li {

    display: inline-block;
    text-align: center;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;

}

#headerMenu a.link, #headerMenu a.link:active, #headerMenu a.link:link {

    text-decoration: none;
    color: white;
    font-size: 300%;
    display: block;
    padding: 16px;
    height: 100%;
    background-color: black;
    box-shadow: inset 0 -5px 0 0 #1786FF;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;


    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
}

#headerMenu a.link:hover {

    color: lightgray;
    background-color: #1253CC;
    box-shadow: inset 0 -59px 0 0 #1253CC;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FF8617;
    color: white;
    min-height: 42px;
    text-align: center;
    overflow: hidden;
}

#youtubeVideos {
    text-align: center;
}

#youtubeVideos iframe {
    display: inline-block;
    border-radius: 15px;
}

#p1 {
    transform: translateY(27.5px);
}

.postSection {
    text-align: center;
    left: 0;
    right: 0;
}

.post {
    position: relative;
    border-radius: 25px;
    background-color: #717171;
    min-height: 375px;
    min-width: 830px;
    width: 45%;
    max-width: 100%;
    margin: 10px;
    display: inline-block;
}

.post img {
    border-radius: 25px;
    max-width: 630px;
    max-height: 360px;
    margin: 8px;
    display: inline-block;
    float: left;
}

.post p {
    margin: 7.5px;
    color: #ffffff;
    text-shadow: #bbbbbb;
}

.secondTitle {
    font-family: Comfortaa, CaviarDreams, Arial, serif;
    font-size: 46px;
    text-align: center;
}

.sectionTitle {
    font-family: Comfortaa, CaviarDreams, Arial, serif;
    font-size: 32px;
    text-align: center;
}
