.projectPreview {
    font-family: CaviarDreams, Arial, sans-serif;
    background-color: #DC143C;
    margin: 24px;
    padding: 8px;
    min-height: 120px;
    border-radius: 10px 45px;
    color: white;
    width: 410px;
    height: 376px;
    position: relative;
}

.projectPreview h2 {
    text-align: center;
}

.projectPreview p {
    font-size: 20px;
}

.projectPreview img {
    border-radius: 35px;
    max-width: 100%;
}

.projectPreview a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    background-color: #872657;
    padding: 2px;
    border-radius: 7px;
}

.platforms {
    padding: 8px;
    margin: 8px;
    font-size: 24px;
    display: inline;
}